/*
	Diese Datei wird für die Grundvariablen in der gesamten CSS-Datei verwendet.
	Beispiele hierfür sind:

	– Farben
	– Schriftarten
	...
*/

// Amaranth – Rot
$primaryRed: #F03A47;

// Chathamas Blue – Dunkelblau
$primaryDarkBlue: #1B4079;

// Calypso – Hellblau
$primaryLightBlue: #346791;

// Clear Day – Himmelblau
$primarySkyBlue: #F1FFFA;

// Mercury – Grau
$primaryGrey: #E6E6E6;

<<<<<<< HEAD
$secondaryGrey: #363636;

// Mine Shaft – Dunkles Grau – wird für die Schrift verwendent
$primaryFontColor: #333333;

=======
// Mine Shaft – Dunkles Grau – wird für die Schrift verwendent
$primaryFontColor: #333333;

// Foundation Variablen

$topbar-bg-color: $primaryDarkBlue;


>>>>>>> e5496d10fecc2111707b23db13bffca636a0c34a
//		////////////////// 
//		*  SCHRIFTARTEN *
//		/////////////////

@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Oxygen:400,700");

// Fließtext
$primaryNormalText: Source Sans Pro, sans-serif;

// Header
$primaryHeader: Oxygen, sans-serif;

//		/////////////////// 
//		*  SCHRIFTGRÖßEN *
//		//////////////////

<<<<<<< HEAD
.nT{
	color: $primaryFontColor;
	font-family: $primaryNormalText;
}

.paragraph{
	@extend .nT;
	margin-top: 2.5em;

}

p{
	@extend .nT;
}
=======
$navigationBar: 30px;
$footer: 20px;
>>>>>>> e5496d10fecc2111707b23db13bffca636a0c34a
