.header{
	font-size: 28pt;
	font-family: $primaryHeader;
	font-weight: 700;
}

.mainBox{
	@extend .nT;
	margin-top: 2em;
}

h1{
	font-weight: 700;
	font-family: $primaryHeader;
	color: $primaryDarkBlue;
}

h3{
	@extend h1;
	color: $primaryLightBlue;
}
h4{
	@extend h1;
}

.check{
	li{
		list-style:none;
	}
}
