#top_logo {
	height: 2em;
	margin-top: 0.4em;
	margin-left: 0.8em;
}

#top_elements {
	ul{
		li{
			a{
				font-family: $primaryHeader;
				font-size: 1em;
			}
		}
	}
}

.top-bar{
	background-color: $primaryDarkBlue;
}

#test li a{
		background-color: $primaryDarkBlue;

}

.particels{
	background-color: #1B4079;
}