.an_sprint_arrow{
	position: relative;
    height: 300px;
    margin-top: -30px;
    margin-left: -60px;
}
.an_left {
	float: left;
}
.an_right{
    position: relative;
	margin-top: -276px;
	margin-left: 300px;
}
.an_daily_scrum{
	position: relative;
	margin-left: -50px;
	height: 100px;
}

object{
	visibility: visible;
}
.an_children{
	height: 100px;
}

.animationMargin{
	padding-top: 5em;
}
